.body {
    background-image: url('../bilder/bakgrund.jpg');
    background-size: cover;
    padding: 0%;
    margin: 0%;
    
}

.navbar {
    display:flex;
}

.bilder {
    display:flex;
}

.navbar a:hover{
    font-size: 150%;
}

.itembild a:hover{
    font-size: 200%;
}

h1 {
    font-family: helvetica;
    display: flex;
    font-size: 50px;
    justify-content: center;
}
.item {
    flex-grow:1;
    display: flex;
    font-family: helvetica;
    justify-content: center;
    align-items: center;
    font-size: 100 px;
    width: 650px;
    height: 57px;
    align-content: space-evenly;
    color: black;
    margin-left:5%;
    margin-right: 5%;
    margin-top: 3px;
    border-radius: 20px;
    background-color: white;
    border: 3px solid black;
    box-sizing: border-box;
} 


.itembild {
    flex-grow:1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 650px;
    height: 57px;
    align-content: space-evenly;
    color: black;
    margin-left:5%;
    margin-right: 5%;
    margin-top: 3px;
    border-radius: 20px;
    background-color: white;
    border: 3px solid black;
    box-sizing: border-box;
}

.bild {
    flex-grow: 1; 
    justify-content: center; 
}

.footer{
    font-size: 20px;
    color: white;
    text-align: center;
    background-color: #343a40;
    align-content: space-evenly;
}

.info {
    height: 35px;
    font-size: 20px;
    font-family: Helvetica;
    word-spacing: 40px;
    justify-content: center;
    margin-top: 10%;
}

.copyright {
    background-color: #303036;
    width: 100%;
    height: 30px;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
}

.bottom {
    height: 35px;
    font-size: 20px;
    font-family: Helvetica;
    word-spacing: 40px;
    justify-content: center;
    margin-top: 40%;
}



